In [1]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [4]:
data= pd.read_csv(r"E:\AI\LibrariesForAI\Supervised_Learning\9_Logistic_Regression_multiclass\winequality.csv",sep=";")
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [5]:
data.shape

(4898, 12)

In [7]:
data["quality"].unique()

array([6, 5, 7, 8, 4, 3, 9], dtype=int64)

In [8]:
data.groupby('quality').mean()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,7.600000,0.333250,0.336000,6.392500,0.054300,53.325000,170.600000,0.994884,3.187500,0.474500,10.345000
4,7.129448,0.381227,0.304233,4.628221,0.050098,23.358896,125.279141,0.994277,3.182883,0.476135,10.152454
5,6.933974,0.302011,0.337653,7.334969,0.051546,36.432052,150.904598,0.995263,3.168833,0.482203,9.808840
6,6.837671,0.260564,0.338025,6.441606,0.045217,35.650591,137.047316,0.993961,3.188599,0.491106,10.575372
7,6.734716,0.262767,0.325625,5.186477,0.038191,34.125568,125.114773,0.992452,3.213898,0.503102,11.367936
8,6.657143,0.277400,0.326514,5.671429,0.038314,36.720000,126.165714,0.992236,3.218686,0.486229,11.636000
9,7.420000,0.298000,0.386000,4.120000,0.027400,33.400000,116.000000,0.991460,3.308000,0.466000,12.180000

In [11]:
cormatrix=data.corr()["quality"]

In [20]:
lowcorr = cormatrix[abs(cormatrix)<0.10].index
lowcorr

Index(['citric acid', 'residual sugar', 'free sulfur dioxide', 'pH',
       'sulphates'],
      dtype='object')

In [21]:
data.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [22]:
y=data["quality"]
X=data.drop('quality',axis=1)
X.drop(lowcorr,axis=1,inplace=True)

In [28]:
X

,fixed acidity,volatile acidity,chlorides,total sulfur dioxide,density,alcohol
0,7.0,0.27,0.045,170.0,1.00100,8.8
1,6.3,0.30,0.049,132.0,0.99400,9.5
2,8.1,0.28,0.050,97.0,0.99510,10.1
3,7.2,0.23,0.058,186.0,0.99560,9.9
4,7.2,0.23,0.058,186.0,0.99560,9.9
...,...,...,...,...,...,...
4893,6.2,0.21,0.039,92.0,0.99114,11.2
4894,6.6,0.32,0.047,168.0,0.99490,9.6
4895,6.5,0.24,0.041,111.0,0.99254,9.4
4896,5.5,0.29,0.022,110.0,0.98869,12.8
4897,6.0,0.21,0.020,98.0,0.98941,11.8

In [30]:
X_train, X_test, y_train, y_test =train_test_split(X,y,test_size=0.25,random_state=10)

In [31]:
lr_classifier = LogisticRegression()
lr_classifier.fit(X_train,y_train)

c:\Users\dell pc\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [32]:
lr_classifier.score(X_train,y_train)

0.47726653961339505

In [33]:
lr_classifier.score(X_test,y_test)

0.47346938775510206