In [1]:
import pandas as pd

In [2]:
details={
    'col1':[1,3,5,7,9],
    'col2':[7,4,35,14,56]
}

In [3]:
df = pd.DataFrame(details)

In [4]:
df

   col1  col2
0     1     7
1     3     4
2     5    35
3     7    14
4     9    56

In [8]:
df['col1'].mean()

5.0

In [9]:
df['col1'].std()

3.1622776601683795

In [11]:
df['Z_Col1']=(df['col1']-df['col1'].mean())/df['col1'].std()

In [12]:
df

   col1  col2    Z_Col1
0     1     7 -1.264911
1     3     4 -0.632456
2     5    35  0.000000
3     7    14  0.632456
4     9    56  1.264911

In [13]:
df['Z_Col2']=(df['col2']-df['col2'].mean())/df['col2'].std()

In [14]:
df

   col1  col2    Z_Col1    Z_Col2
0     1     7 -1.264911 -0.737355
1     3     4 -0.632456 -0.873902
2     5    35  0.000000  0.537085
3     7    14  0.632456 -0.418745
4     9    56  1.264911  1.492915